html, body{
  	font-family: 'Roboto', sans-serif;
    font-size: 100%;
  	 background: #FFf;
  	 
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.bg{
	background:url(../images/lake1.png) no-repeat 0px 0px;
	background-size:cover;
}
/*-----start-header----*/
.header{
	background:rgba(117, 196, 165, 0.6);
}
/*----navbar-nav----*/
.top-header{
}
.top-nav ul li a{
	color: #FFF;
	padding: 0.84em 3.0804em;
	font-size: 1.25em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-weight: 300;
}
.top-nav ul li.active-join a,
.top-nav ul li a:hover{
	color:#FFF;
	background:rgba(244, 135, 101, 0.66)
}
.top-nav ul li.active-join a{
	background: #F98B68;
	color: #FFF;
	font-weight: 500;
	font-size: 1.4em;
	padding: 0.66em 1.5em;
}
/* top-nav */
.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
nav {
	position: relative;
}
nav ul {
	float: left;
	margin:0;
	padding:0;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
nav a:hover{
	text-decoration:none;
	color:#00A2C1;
}
nav a#pull {
	display: none;
}
/*---- banner-info ----*/
.banner-info{
	
}
.banner-info h1{
	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 5em;
	padding: 2em 0;
}
.banner-info h1 span{
	font-weight: 100;
	background: #F98B68;
	font-size: 0.7em;
	padding: 0.2em 0.5em;
	display: inline-block;
}
.banner-info h1 label{
	background:rgba(114, 189, 163, 0.86);
	font-size: 1em;
	padding: 0.15em 0.5em;
	margin-left:1em;
}
/*---- banner-grids ----*/
.banner-grid{
	background:rgba(114, 189, 163, 0.72);
	float:left;
	width:20%;
	padding:2em 2em 2.3em 2em;
	float:left;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.banner-grid:hover,.banner-grid-active{
	background:rgba(244, 135, 101, 0.66);
}
.banner-grid span{
	width: 58px;
	height: 58px;
	display: inline-block;
	background: url(../images/top-icons.png) no-repeat 0px 0px;
}
.banner-grid h3{
	color:#FFF;
	text-transform:uppercase;
	font-size:1.2em;
	margin:0;
	padding:0.5em 0;
}
/*---- top-grids -----*/
/*---- about ----*/
.head-section h3{
	color:#6F6F6F;
	text-transform:uppercase;
	font-style:italic;
	font-size:2em;
}
.head-section h3 span{
	font-weight:300;
	margin-right:0.5em;
}
.about-grids{
	padding:1.5em 0 0 0;
}
.about-grid{
	margin:0;
	padding:0;
}
.about-grid1{
	background:#00A388;
}
.about-grid-pic img{
	width:100%;
}
.about-grid-info{
	padding: 2.3em 2.5em;
}
.about-grid-info h4{
	font-size: 1.3em;
	font-weight: 400;
	border-bottom: 1px solid #FFFFFF;
	padding: 0 0 0.5em 0;
}
.about-grid-info h4 a{
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
}
.about-grid-info p{
	color:#FFFFFF;
	font-size:0.875em;;
	line-height:1.7em;
	font-weight:100;
}
.about-grid2{
	background:#FF6138;
}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*--- team ----*/
.team{
	padding:3em 0;
}